<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="NOVO">
    <meta name="superfish" content="nofish">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <title>Model Range - Absolute Yachts North America</title>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/absolute.css">
    <link rel="stylesheet" type="text/css" href="/static/css/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="/static/css/default-skin/default-skin.css">
    <link rel="stylesheet" type="text/css" href="/static/css/model-page.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/flexslider.css">
    <link rel="stylesheet" type="text/css" href="/static/css/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="/static/css/blog.css">
    <link rel="stylesheet" type="text/css" href="/static/css/media-queries.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ideal-image-slider.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iis-default-theme.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Oxygen:300|Hind:300:400,500' rel='stylesheet' type='text/css'>

    <!--Serpentine Bold Font-->
    <script type="text/javascript">
        (function() {
            var path = '//easy.myfonts.net/v2/js?sid=5452(font-family=Serpentine+D+Bold)&key=WBayDdCCqM',
                protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
                trial = document.createElement('script');
            trial.type = 'text/javascript';
            trial.async = true;
            trial.src = protocol + path;
            var head = document.getElementsByTagName("head")[0];
            head.appendChild(trial);
        })();
    </script>

    <!--favicon-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!--Google/Heap Analytics-->

</head>
<body>

<nav class="clearfix">
    <div id="logo">
        <img src="/static/images/logo.jpg" style="height: 60px" />
    </div>
    <div id="menu">
        <ul class="clearfix">
            <li><a class="opacity" href="/about/">About</a></li>
            <li><a class="opacity" href="/models/">Models</a></li>
            <li><a class="opacity" href="/news/">News</a></li>
            <li><a class="opacity" href="#contact">Contact</a></li>
        </ul>
    </div>
    <a href="#" id="pull"><img src="/static/images/logo.png" style="height: 35px" /></a>
</nav>

<div class="bars-bg">
    <div class="new-bars"></div>
</div>

<div class="container" style="width: 90% !important; background-color: #fff !important; position: relative; z-index: 30; padding: 2%;">
    <br>
    <div id="models" class="box wide center">
        <div class="model-range" style="width: 20%;">
            <div class="range">NAVETTA</div>
            <div class="model-container center">
                <div id="52NAV" class="model hvr-grow">52</div>
                <div id="58NAV" class="model hvr-grow">58</div>
            </div>
        </div>
        <div class="model-range" style="width: 35%;">
            <div class="range">FLY</div>
            <div class="model-container center">
                <div id="40FLY" class="model hvr-grow">40</div>
                <div id="45FLY" class="model hvr-grow">45</div>
                <div id="52FLY" class="model hvr-grow">52</div>
                <div id="56FLY" class="model hvr-grow">56</div>
                <div id="60FLY" class="model hvr-grow">60</div>
                <div id="64FLY" class="model hvr-grow">64</div>
                <div id="72FLY" class="model hvr-grow">72</div>
            </div>
        </div>
        <div class="model-range" style="width: 25%;">
            <div class="range">STY</div>
            <div class="model-container center">
                <div id="40STY" class="model hvr-grow">40</div>
                <div id="45STY" class="model hvr-grow">45</div>
                <div id="56STY" class="model hvr-grow">56</div>
                <div id="64STY" class="model hvr-grow">64</div>
                <div id="70STY" class="model hvr-grow">70</div>
            </div>
        </div>
        <div class="model-range" style="width: 10%;">
            <div class="range">STL</div>
            <div class="model-container center">
                <div id="40STL" class="model hvr-grow">40</div>
            </div>
        </div>
    </div>
    <div class="widget clearfix" style="margin-bottom: 10px !important;">
        <div class="header-show">
            <h4></h4>
        </div>
    </div>

    <br><br>
    <div id="intro-gallery"class="center top-slider">
        <div id="slider" class="slider" style="z-index: 20 !important;">
            <img src="/static/images/ABS40STL_HARDTOP_01.jpg" data-src-2x="" alt="" data-caption="#caption-1">
            <img data-src="/static/images/ABS45S_01.jpg" data-src-2x="" src="" alt="" data-caption="#caption-2">
            <img data-src="/static/images/ABS52F_11.jpg" data-src-2x="" src="" alt="" data-caption="#caption-3">
            <img data-src="/static/images/Navetta58_02.jpg" data-src-2x="" src="" alt="" data-caption="#caption-4">
            <img data-src="/static/images/ABS64F_07.jpg" data-src-2x="" src="" alt="" data-caption="#caption-5">
            <div class="iis-previous-nav"></div>
            <div class="iis-next-nav"></div>
        </div>
        <div id="caption-1" class="caption">
            <!--<h3></h3>-->
            <p style="margin-bottom: 0px">40 STL</p>
        </div>
        <div id="caption-2" class="caption">
            <!--<h3></h3>-->
            <p style="margin-bottom: 0px">45 STY</p>
        </div>
        <div id="caption-3" class="caption">
            <!--<h3></h3>-->
            <p style="margin-bottom: 0px">52 FLY</p>
        </div>
        <div id="caption-4" class="caption">
            <!--<h3></h3>-->
            <p style="margin-bottom: 0px">Navetta 58</p>
        </div>
        <div id="caption-5" class="caption">
            <!--<h3></h3>-->
            <p style="margin-bottom: 0px">64 STY</p>
        </div>
    </div>

    <div id="info-and-images" class="box wide centerc">
        <div class="model-range categories">
            <div id="info" class="category">INFO</div>
            <div id="photos" class="category">PHOTO</div>
            <div id="video" class="category">VIDEO</div>
            <!--<div id="tour" class="category">TOUR</div>-->
            <div id="floor" class="category">FLOOR PLAN</div>
            <div id="specs" class="category">SPECS</div>
        </div>
        <div class="display-box">
            <div id="info-content" class="cat-content"></div>
            <div id="photo-content"></div>
            <div id="video-content" class="cat-content"></div>
            <!--<div id="tour-content" class="cat-content"></div>-->
            <div id="floor-content" class="cat-content"></div>
            <div id="specs-content" class="cat-content"></div>
        </div>
    </div>
</div>

<div class="bars-padding">
    <div class="bars-bg-bottom">
        <div class="new-bars-bottom"></div>
    </div>
</div>

<div id="bottom">
    <div class="container">
        <div class="row-fluid">

            <div class="col-md-4 widget">
                <div class="header">
                    <h4>Dealer Map</h4>
                </div>

                <div class="content">
                    <p>Absolute Yachts are available through any of our dealers in New York, Florida, California, and Mexico. Click below to see a dealer map.</p>
                </div>

                <a href="/dealers/"><div class="btn-social bottom-links2">Dealer Map</div></a>

            </div>

            <div class="col-md-4 widget">
                <div class="header">
                    <h4>Find Us Online</h4>
                </div>

                <div class="content">
                    <p>You can find us on your favorite social media platforms! Be sure to like our page or follow us below to receive the latest news and announcements from Absolute!</p>
                </div>

                <a target="_blank" href="https://instagram.com/absoluteyachtsna/" title="Instagram"><div class="btn3 bottom-links2"><i class="fa fa-instagram"></i></div></a>

                <a target="_blank" href="https://www.linkedin.com/company/absolute-yachts-north-america" title="LinkedIn"><div class="btn3 bottom-links2"><i class="fa fa-linkedin"></i></div></a>

                <a target="_blank" href="https://www.facebook.com/pages/Absolute-North-America/1467350980243678" title="Facebook"><div class="btn3 bottom-links2"><i class="fa fa-facebook"></i></div></a>

                <a target="_blank" href="https://twitter.com/AbsoluteNA" title="Twitter"><div class="btn3 bottom-links2"><i class="fa fa-twitter"></i></div></a>


            </div>

            <div class="col-md-4 widget">
                <div class="header">
                    <h4>Contact Us</h4>
                </div>

                <div class="content">
                    <p>Interested in an Absolute? Please click the button below to get in touch! We'll send you product and dealer information and how you can begin experiencing the Absolute difference.</p>
                </div>


                <a href="#contact"><div class="btn-social bottom-links2">Contact</div></a>

            </div>

            <div class="row-fluid bottom-links">
                <div class="col-md-4 widget" >

                    <a href="/dealers/" style="text-decoration: none;"><div class="btn-social">Dealer Map</div></a>

                </div>

                <div class="col-md-4 widget">

                    <a target="_blank" href="https://instagram.com/absoluteyachtsna/" title="Instagram"><div class="btn3"><i class="fa fa-instagram"></i></div></a>

                    <a target="_blank" href="https://www.linkedin.com/company/absolute-yachts-north-america" title="LinkedIn"><div class="btn3"><i class="fa fa-linkedin"></i></div></a>

                    <a target="_blank" href="https://www.facebook.com/pages/Absolute-North-America/1467350980243678" title="Facebook"><div class="btn3"><i class="fa fa-facebook"></i></div></a>

                    <a target="_blank" href="https://twitter.com/AbsoluteNA" title="Twitter"><div class="btn3"><i class="fa fa-twitter"></i></div></a>

                </div>

                <div class="col-md-4 widget">

                    <a href="#contact" style="text-decoration: none;"><div class="btn-social">Contact</div></a>

                </div>

            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="pull-left">© 2015 Forward Ventures dba Absolute Yachts North America</p>
    </div>
</div>
<a class="scrollup" href="#" title="Back to Top!">Scroll</a>

<!--JS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery-2.1.4.min"><\/script>')</script>
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<![endif]-->
<script src='/static/js/bootstrap.min.js' type='text/javascript'></script>
<script src="/static/js/ideal-image-slider.js" type='text/javascript'></script>
<script src="/static/js/iis-captions.js" type='text/javascript'></script>
<script src='/static/js/jquery.easing.js' type='text/javascript'></script>
<script src='/static/js/jquery.flexslider-min.js' type='text/javascript'></script>
<script src='/static/js/jquery.fitvids.min.js' type='text/javascript'></script>
<script src='/static/js/jquery.lazyload.mini.js' type='text/javascript'></script>
<script src='/static/js/jquery.prettyPhoto.js' type='text/javascript'></script>
<script src='/static/js/jquery.placeholder.min.js' type='text/javascript'></script>
<script src='/static/js/jquery.jticker.js' type='text/javascript'></script>
<script src='/static/js/jquery.mobilemenu.js' type='text/javascript'></script>
<script src='/static/js/jquery.isotope.min.js' type='text/javascript'></script>
<script src='/static/js/jquery.hoverdir.js' type='text/javascript'></script>
<script src='/static/js/modernizr.custom.js' type='text/javascript'></script>
<script src="/static/js/absolute.js" type='text/javascript'></script>
<script src="/static/js/masonry.pkgd.js" type='text/javascript' ></script>
<script src="/static/js/photoswipe.js" type='text/javascript' ></script>
<script src="/static/js/photoswipe-ui-default.js" type='text/javascript' ></script>
<script src="/static/js/nav.js" type='text/javascript'></script>
<script src="/static/js/blog.js" type="text/javascript"></script>
<script src="/static/js/models.js" type='text/javascript' ></script>

</body>
</html>