<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="NOVO">
    <meta name="superfish" content="nofish">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <title>About - Absolute Yachts North America</title>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/absolute.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/flexslider.css">
    <link rel="stylesheet" type="text/css" href="/static/css/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="/static/css/blog.css">
    <link rel="stylesheet" type="text/css" href="/static/css/media-queries.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ideal-image-slider.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iis-default-theme.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Oxygen:300|Hind:300:400,500' rel='stylesheet' type='text/css'>

    <!--favicon-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!--Google/Heap Analytics-->

</head>
<body>

<nav class="clearfix">
    <div id="logo">
        <img src="/static/images/logo.jpg" style="height: 60px" />
    </div>
    <div id="menu">
        <ul class="clearfix">
            <li><a class="opacity" href="/about/">About</a></li>
            <li><a class="opacity" href="/models/">Models</a></li>
            <li><a class="opacity" href="/news/">News</a></li>
            <li><a class="opacity" href="#contact/">Contact</a></li>
        </ul>
    </div>
    <a href="#" id="pull"><img src="/static/images/logo.png" style="height: 35px" /></a>
</nav>

<div class="bars-bg">
    <div class="new-bars"></div>
</div>

<div class="container" style="background-color: #fff !important; position: relative; z-index: 30; padding: 2%;">
    <div class="widget clearfix" >
        <div class="header-show">
            <h4>Mission</h4>
        </div>
    </div>
    <div class="about-text">We believe in technology and easy management, in 360° control. We believe in luxury, but not in waste: our engines are low consumption and low noise engines. We believe in Design tasting of salt water, having image and also substance. We finally believe that the Ocean shall be respected. That is why we engage in reducing emissions at their minimum level. And this not only to safeguard the protected areas, but also the whole Ocean.  The Ocean continent – before being our business – is the salt of the Earth.</div>
    <div class="widget clearfix" >
        <div class="header-show">
            <h4>Italian Design</h4>
        </div>
    </div>
    <div class="about-text">Penned by Absolute’s talented Italian designers, Absolute Yachts are stylish, without compromising functionality. Beautifully finished interiors, featuring designer-grade materials, the highest quality leathers and solid surfaces, and stunning design elements, are integrated with intelligent interior layouts and superb ergonomics.
        All-round, 360-degree visibility with well laid-out helms, wide, safe side-decks, abundant storage and spacious cabins are the result of Absolute’s design and layout expertise.
        <br>
        <br>
        Experience the perfect marriage of Italian yacht design, functionality and safety.</div>
    <div class="widget clearfix" >
        <div class="header-show">
            <h4>Experience</h4>
        </div>
    </div>
    <div class="about-text">Celebrating over 40 years of boatbuilding experience, the founders of Absolute are considered amongst Italy’s pioneers of the modern powerboat manufacturing era.
        <br>
        <br>
        Initially producing boats under the Gobbi brand, privately-held Absolute S.p.A. was formed in 2002 in collaboration and partnership with some of the brightest minds in powerboat design and construction.
        To demonstrate its long-term commitment to the boating industry, Absolute has invested in a state-of‐the-art, ecological, and purpose-built manufacturing facility in Piacenza, Italy – a short distance from Milan.
        A testament of the company’s efficient and effective production capabilities, Absolute continues to invest in the design, development, and release of at least two new models and two upgrades each year.
        <br>
        <br>
        Absolute is a winning combination of experience, innovation, and long-term commitment to the business; with the uncanny ability to execute with impressive consistency.
        <br>
        <br>
        Enjoy the confidence of owning a Yacht manufactured by a company uncompromisingly dedicated to the principles of beautiful design, state-of-the-art functionality, and masterfully skillful craftsmanship.
    </div>
    <div class="widget clearfix" >
        <div class="header-show">
            <h4>Efficient Performance</h4>
        </div>
    </div>
    <div class="about-text">The performance of your Absolute Yacht is based solely in the quality of our construction process. Boasting one of the most sophisticated construction processes in the industry, Absolute’s Integrated Structural System (ISS) incorporates unique features that drastically increases the performance of your Absolute Yacht.
        <br>
        <br>
        Solid fiberglass hulls are strengthened with a multi-dimensional structural grid, which encompasses the entire length and width of the hull’s bottom. Bonded to the grid itself, the bulkheads, the floors and the ceilings – all made by plywoods and customized compound sandwiches – are fastened by means of structural fiberglass reinforcements, thus leading to a self-consistent single-body structural frame.
        <br>
        <br>
        Decks are precision-mounted to the hulls, bonded with fiberglass and through-bolted with stainless steel fasteners for ultimate structural integrity.
        <br>
        <br>
        Yachts of superior structural solidity and integrity, lead to lower interior noise levels, minimal vibrations, and sharper handling.  In essence, an Absolute Yacht is designed with perfection as the ultimate goal.
        <br>
        <br>
        On-the-water performance, defined in terms of raw acceleration, cruising speed, handling, seakeeping, and noise and vibration levels, is class-leading and needs to be experienced first hand.
        <br>
        <br>
        Beginning with a strategic partnership with Volvo Penta and their IPS system, Absolute was able to optimize its hull designs to extract the maximum performance from the IPS technology, leading to yachts that are the most fuel efficient in their size class. Most impressively, miles-per-gallon or liters per mile figures remain near identical from 22 to 30 knots.
    </div>
    <div class="widget clearfix" >
        <div class="header-show">
            <h4>Serviceability</h4>
        </div>
    </div>
    <div class="about-text">Engineered for ease of service, systems and sub-systems, an Absolute Yacht makes it easy to maintain and service your yacht whenever needed.
        <br>
        <br>
        Proper labeling is consistently used to ensure easy identification of critical system components. The Absolute Yachts are manufactured and designed with components accessible worldwide, specifically to ensure quality of professional, after-sales support.
        <br>
        <br>
        Last but not least, to ensure easy removal of major components without resorting to structurally invasive procedures, all large components, such as engines, transmissions, generators, refrigerators, etc., are originally inserted inside the yacht only after decks and superstructures have been mounted and bonded to the hulls.
    </div>
</div>

<div class="bars-padding">
    <div class="bars-bg-bottom">
        <div class="new-bars-bottom"></div>
    </div>
</div>

<div id="bottom">
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-4 widget">
                <div class="header">
                    <h4>Dealer Map</h4>
                </div>
                <div class="content">
                    <p>Absolute Yachts are available through any of our dealers in New York, Florida, California, and Mexico. Click below to see a dealer map.</p>
                </div>
                <a href="#"><div class="btn-social bottom-links2">Dealer Map</div></a>
            </div>

            <div class="col-md-4 widget">
                <div class="header">
                    <h4>Find Us Online</h4>
                </div>
                <div class="content">
                    <p>You can find us on your favorite social media platforms! Be sure to like our page or follow us below to receive the latest news and announcements from Absolute!</p>
                </div>
                <a target="_blank" href="https://instagram.com/absoluteyachtsna/" title="Instagram"><div class="btn3 bottom-links2"><i class="fa fa-instagram"></i></div></a>
                <a target="_blank" href="https://www.linkedin.com/company/absolute-yachts-north-america" title="LinkedIn"><div class="btn3 bottom-links2"><i class="fa fa-linkedin"></i></div></a>
                <a target="_blank" href="https://www.facebook.com/pages/Absolute-North-America/1467350980243678" title="Facebook"><div class="btn3 bottom-links2"><i class="fa fa-facebook"></i></div></a>
                <a target="_blank" href="https://twitter.com/AbsoluteNA" title="Twitter"><div class="btn3 bottom-links2"><i class="fa fa-twitter"></i></div></a>
            </div>

            <div class="col-md-4 widget">
                <div class="header">
                    <h4>Contact Us</h4>
                </div>
                <div class="content">
                    <p>Interested in an Absolute? Please click the button below to get in touch! We'll send you product and dealer information and how you can begin experiencing the Absolute difference.</p>
                </div>
                <a href="#contact"><div class="btn-social bottom-links2">Contact</div></a>
            </div>

            <div class="row-fluid bottom-links">
                <div class="col-md-4 widget" >
                    <a href="/dealers/" style="text-decoration: none;"><div class="btn-social">Dealer Map</div></a>
                </div>

                <div class="col-md-4 widget">
                    <a target="_blank" href="https://instagram.com/absoluteyachtsna/" title="Instagram"><div class="btn3"><i class="fa fa-instagram"></i></div></a>
                    <a target="_blank" href="https://www.linkedin.com/company/absolute-yachts-north-america" title="LinkedIn"><div class="btn3"><i class="fa fa-linkedin"></i></div></a>
                    <a target="_blank" href="https://www.facebook.com/pages/Absolute-North-America/1467350980243678" title="Facebook"><div class="btn3"><i class="fa fa-facebook"></i></div></a>
                    <a target="_blank" href="https://twitter.com/AbsoluteNA" title="Twitter"><div class="btn3"><i class="fa fa-twitter"></i></div></a>
                </div>

                <div class="col-md-4 widget">
                    <a href="#contact" style="text-decoration: none;"><div class="btn-social">Contact</div></a>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="pull-left">© 2015 Forward Ventures dba Absolute Yachts North America</p>
    </div>
</div>
<a class="scrollup" href="#" title="Back to Top!">Scroll</a>

<!--JS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery-2.1.4.min"><\/script>')</script>
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<![endif]-->
<script src='/static/js/bootstrap.min.js' type='text/javascript'></script>
<script src='/static/js/jquery.easing.js' type='text/javascript'></script>
<script src='/static/js/jquery.flexslider-min.js' type='text/javascript'></script>
<script src='/static/js/jquery.fitvids.min.js' type='text/javascript'></script>
<script src='/static/js/jquery.lazyload.mini.js' type='text/javascript'></script>
<script src='/static/js/jquery.prettyPhoto.js' type='text/javascript'></script>
<script src='/static/js/jquery.placeholder.min.js' type='text/javascript'></script>
<script src='/static/js/jquery.jticker.js' type='text/javascript'></script>
<script src='/static/js/jquery.mobilemenu.js' type='text/javascript'></script>
<script src='/static/js/jquery.isotope.min.js' type='text/javascript'></script>
<script src='/static/js/jquery.hoverdir.js' type='text/javascript'></script>
<script src='/static/js/modernizr.custom.js' type='text/javascript'></script>
<script src="/static/js/nav.js" type='text/javascript'></script>
<script src="/static/js/blog.js" type="text/javascript"></script>

</body>
</html>