<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="">
    <meta name="author" content="NOVO">
    <meta name="superfish" content="nofish">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <title>Absolute Yachts North America</title>

    <!--CSS-->
	<link rel="stylesheet" type="text/css" href="/static/css/absolute.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/flexslider.css">
	<link rel="stylesheet" type="text/css" href="/static/css/prettyPhoto.css">
	<link rel="stylesheet" type="text/css" href="/static/css/blog.css">
    <link rel="stylesheet" type="text/css" href="/static/css/media-queries.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ideal-image-slider.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iis-default-theme.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Oxygen:300|Hind:300:400,500' rel='stylesheet' type='text/css'>

    <!--favicon-->
	<link rel="shortcut icon" type="image/png" href="/static/images/icon.png"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!--Google/Heap Analytics-->

</head>
<body>

<nav class="clearfix">
	<div id="logo">
		<img src="/static/images/logo.jpg" style="height: 60px" />
	</div>
	<div id="menu">
		<ul class="clearfix">
			<li><a class="opacity" href="/about/">About</a></li>
			<li><a class="opacity" href="/models/">Models</a></li>
			<li><a class="opacity" href="/news/">News</a></li>
			<li><a class="opacity" href="#contact">Contact</a></li>
		</ul>
	</div>
	<a href="#" id="pull"><img src="/static/images/logo.png" style="height: 35px" /></a>
</nav>

<div class="bars-bg">
	<div class="new-bars"></div>
</div>

<div class="surface-container">
    <div class="center top-slider">
        <div id="slider" class="slider" style="z-index: 20 !important;">
            <img src="/static/images/ABS40STL_HARDTOP_01.jpg" data-src-2x="" alt="" data-caption="#caption-1">
            <img data-src="/static/images/ABS45S_01.jpg" data-src-2x="" src="" alt="" data-caption="#caption-2">
            <img data-src="/static/images/ABS52F_11.jpg" data-src-2x="" src="" alt="" data-caption="#caption-3">
            <img data-src="/static/images/Navetta58_02.jpg" data-src-2x="" src="" alt="" data-caption="#caption-4">
            <img data-src="/static/images/ABS64F_07.jpg" data-src-2x="" src="" alt="" data-caption="#caption-5">
            <div class="iis-previous-nav"></div>
            <div class="iis-next-nav"></div>
        </div>
        <div id="caption-1" class="caption">
            <!--<h3></h3>-->
            <p style="margin-bottom: 0px">40 STL</p>
        </div>
        <div id="caption-2" class="caption">
            <!--<h3></h3>-->
            <p style="margin-bottom: 0px">45 STY</p>
        </div>
        <div id="caption-3" class="caption">
            <!--<h3></h3>-->
            <p style="margin-bottom: 0px">52 FLY</p>
        </div>
        <div id="caption-4" class="caption">
            <!--<h3></h3>-->
            <p style="margin-bottom: 0px">Navetta 58</p>
        </div>
        <div id="caption-5" class="caption">
            <!--<h3></h3>-->
            <p style="margin-bottom: 0px">64 STY</p>
        </div>
    </div>
</div>

	<div id="top-boxes">
		<div class="container">
			<div class="row row-center">
				<div class="col-center col-lg-2 col-md-2 col-sm-4 col-xs-6">
					<div class="item hoverwrap">
                        <figure class="figure-overlay figure-overlay-icon opacity">
                            <a href="#">
								<img src="/static/images/lens.png" class="img-fill">
								<div>
									<p class="absolute-hover"></p>
								</div>
							</a>
                        </figure>
						<div class="text-hover" style="cursor: default; white-space: nowrap;">Virtual Tours</div>
                    </div>
				</div>
				<div class="col-center col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <div class="item hoverwrap">
                        <figure class="figure-overlay figure-overlay-icon opacity">
                            <a href="https://www.facebook.com/pages/Absolute-North-America/1467350980243678">
								<img src="/static/images/LF4.png" class="img-fill">
								<div>
									<p class="absolute-hover"></p>
								</div>
							</a>
                        </figure>
						<div class="text-hover" style="cursor: default">Facebook</div>
                    </div>
				</div>
				<div class="col-center col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <div class="item hoverwrap">
                        <figure class="figure-overlay figure-overlay-icon opacity">
                            <a href="https://twitter.com/AbsoluteNA">
								<img src="/static/images/LF3.png" class="img-fill">
								<div>
									<p class="absolute-hover"></p>
								</div>
							</a>
                        </figure>
						<div class="text-hover" style="cursor: default">Twitter</div>
                    </div>
				</div>
				<div class="col-center col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <div class="item hoverwrap">
                        <figure class="figure-overlay figure-overlay-icon opacity">
                            <a href="https://instagram.com/absoluteyachtsna/">
								<img src="/static/images/72FLY.png" class="img-fill">
								<div>
									<p class="absolute-hover"></p>
								</div>
							</a>
                        </figure>
						<div class="text-hover" style="cursor: default">Instagram</div>
                    </div>
				</div>			
				<div class="col-center col-lg-2 col-md-2 col-sm-4 col-xs-6">
                    <div class="item hoverwrap">
                        <figure class="figure-overlay figure-overlay-icon opacity">
                            <a href="/dealers/">
								<img src="/static/images/outside.png" class="img-fill">
								<div>
									<p class="absolute-hover"></p>
								</div>
							</a>
                        </figure>
						<div class="text-hover" style="cursor: default">Dealer Map</div>
                    </div>
				</div>
			</div>
		</div>
	</div>

		<div class="container">
			<div class="row-fluid">

				<div class="col-md-4 widget">
					<div class="header-top">
						<i class="fa fa-globe"></i>
						<h4>Where to buy</h4>
					</div>
					<div class="content">
						<p>Absolute Yachts are based on the forty-year practice of its creative heart in Piacenza, Italy. We incorporate efficiency, performance, worldwide serviceability, and Italian design into every yacht we build.</p>
					</div>
					<a href="/dealers/" style="text-decoration: none;"><div class="btn-top bottom-links2 opacity-button">More Info</div></a>
				</div>

				<div class="col-md-4 widget">
					<div class="header-top">
						<i class="fa fa-ship"></i>
						<h4>The yachts</h4>
					</div>
					<div class="content">
						<p>The Absolute model line ranges from 40 to 72 feet in length, which includes the STL, STY, FLY, and Navetta model ranges. We offer a wide selection of models, each with its own character and charm.</p>
					</div>
					<a href="/models/" style="text-decoration: none;"><div class="btn-top bottom-links2 opacity-button">More Info</div></a>
				</div>

				<div class="col-md-4 widget">
					<div class="header-top">
				        <i class="fa fa-picture-o"></i>
						<h4>News & events</h4>
					</div>
					<div class="content">
						<p>Want to hear the latest news from Absolute? Click below to hear about new products, boat show appearances, and how you can make the most out of time spent on your yacht.</p>
					</div>
					<a href="/news/" style="text-decoration: none;"><div class="btn-top bottom-links2 opacity-button">More Info</div></a>
				</div>

				<div class="row-fluid bottom-links">
					<div class="col-md-4 widget" >
						<a href="/dealers/" style="text-decoration: none;"><div class="btn-top opacity-button">More Info</div></a>
					</div>
					<div class="col-md-4 widget">
						<a href="/models/" style="text-decoration: none;"><div class="btn-top opacity-button">More Info</div></a>
					</div>
					<div class="col-md-4 widget">
						<a href="/news/" style="text-decoration: none;"><div class="btn-top opacity-button">More Info</div></a>
					</div>
				</div>

			</div>
		</div>

    <div class="clearfix ie-sep"></div>

		<div class="container">
			<div class="widget clearfix" >
				<div class="header-show">
					<h4>Upcoming Shows</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6">
					<div class="item">
                        <figure class="figure-overlay figure-overlay-icon">
                            <a href="#">
								<img src="/static/images/LF1.png" class="img-fill">
								<div>
									<p class="absolute-hover-big"></p>
								</div>
							</a>
                        </figure>
						<div class="titleC">CANNES YACHTING FESTIVAL</div>
						<div class="subtitle">8-13 September 2015</div>
                    </div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item">
                        <figure class="figure-overlay figure-overlay-icon">
                            <a href="#">
								<img src="/static/images/engines.png" class="img-fill">
								<div>
									<p class="absolute-hover-big"></p>
								</div>
							</a>
                        </figure>
						<div class="titleC">NORWALK BOAT SHOW</div>
						<div class="subtitle">24-27 September 2015</div>
                    </div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item">
                        <figure class="figure-overlay figure-overlay-icon">
                            <a href="#">
								<img src="/static/images/LF2.png" class="img-fill">
								<div>
									<p class="absolute-hover-big"></p>
								</div>
							</a>
                        </figure>
						<div class="titleC">FT. LAUDERDALE INT'L</div>
						<div class="subtitle">5-9 November 2015</div>
                    </div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item">
                        <figure class="figure-overlay figure-overlay-icon">
                            <a href="#">
								<img src="/static/images/LF4.png" class="img-fill">
								<div>
									<p class="absolute-hover-big"></p>
								</div>
							</a>
                        </figure>
						<div class="titleC">YACHT & BROKERAGE - MIAMI</div>
						<div class="subtitle">12-16 February 2015</div>
                    </div>
				</div>
			</div>
		</div>
   <!-- <div class="center" style="margin-top: 4%;">
        <div class="titleL opacity">TESTIMONIALS</div>
        <div class="box3"></div>
    </div>-->

	
	</div>

	<div class="bars-padding">
		<div class="bars-bg-bottom">
			<div class="new-bars-bottom"></div>
		</div>
	</div>

	<div id="bottom">
		<div class="container">
			<div class="row-fluid">

				<div class="col-md-4 widget">
					<div class="header">
						<h4>About Us</h4>
					</div>
					<div class="content">
						<p>Absolute Yachts are based on the forty-year practice of its creative heart in Piacenza, Italy. We incorporate efficiency, performance, worldwide serviceability, and Italian design into every yacht we build.</p>
					</div>
					<a href="/about/"><div class="btn-social bottom-links2">More Info</div></a>
				</div>

				<div class="col-md-4 widget">
					<div class="header">
						<h4>Find Us Online</h4>
					</div>
					<div class="content">
						<p>You can find us on your favorite social media platforms! Be sure to like our page or follow us below to receive the latest news and announcements from Absolute!</p>
					</div>
					<a target="_blank" href="https://instagram.com/absoluteyachtsna/" title="Instagram"><div class="btn3 bottom-links2"><i class="fa fa-instagram"></i></div></a>
					<a target="_blank" href="https://www.linkedin.com/company/absolute-yachts-north-america" title="LinkedIn"><div class="btn3 bottom-links2"><i class="fa fa-linkedin"></i></div></a>
					<a target="_blank" href="https://www.facebook.com/pages/Absolute-North-America/1467350980243678" title="Facebook"><div class="btn3 bottom-links2"><i class="fa fa-facebook"></i></div></a>
					<a target="_blank" href="https://twitter.com/AbsoluteNA" title="Twitter"><div class="btn3 bottom-links2"><i class="fa fa-twitter"></i></div></a>
				</div>

				<div class="col-md-4 widget">
					<div class="header">
						<h4>Contact Us</h4>
					</div>
					<div class="content">
						<p>Interested in an Absolute? Please click the button below to get in touch! We'll send you product and dealer information and how you can begin experiencing the Absolute difference.</p>
					</div>
					<a href="#contact"><div class="btn-social bottom-links2">Contact</div></a>
				</div>
				
				<div class="row-fluid bottom-links">
					<div class="col-md-4 widget" >
						<a href="/about/" style="text-decoration: none;"><div class="btn-social">More Info</div></a>
					</div>
					<div class="col-md-4 widget">
						<a target="_blank" href="https://instagram.com/absoluteyachtsna/" title="Instagram"><div class="btn3"><i class="fa fa-instagram"></i></div></a>
						<a target="_blank" href="https://www.linkedin.com/company/absolute-yachts-north-america" title="LinkedIn"><div class="btn3"><i class="fa fa-linkedin"></i></div></a>
						<a target="_blank" href="https://www.facebook.com/pages/Absolute-North-America/1467350980243678" title="Facebook"><div class="btn3"><i class="fa fa-facebook"></i></div></a>
						<a target="_blank" href="https://twitter.com/AbsoluteNA" title="Twitter"><div class="btn3"><i class="fa fa-twitter"></i></div></a>
					</div>
					<div class="col-md-4 widget">
						<a href="#contact" style="text-decoration: none;"><div class="btn-social">Contact</div></a>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<div id="footer">
		<div class="container">
			<p class="pull-left">© 2015 Forward Ventures dba Absolute Yachts North America</p>
		</div>
	</div>
	<a class="scrollup" href="#" title="Back to Top!">Scroll</a> 
	
	
	<!--JS-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
	<script>window.jQuery || document.write('<script src="/static/js/jquery-2.1.4.min"><\/script>')</script>
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<![endif]-->
	<script src='/static/js/bootstrap.min.js' type='text/javascript'></script> 
    <script src="/static/js/ideal-image-slider.js" type='text/javascript'></script>
    <script src="/static/js/iis-captions.js" type='text/javascript'></script>
	<script src='/static/js/jquery.easing.js' type='text/javascript'></script> 
	<script src='/static/js/jquery.flexslider-min.js' type='text/javascript'></script> 
	<script src='/static/js/jquery.fitvids.min.js' type='text/javascript'></script> 
	<script src='/static/js/jquery.lazyload.mini.js' type='text/javascript'></script> 
	<script src='/static/js/jquery.prettyPhoto.js' type='text/javascript'></script> 
	<script src='/static/js/jquery.placeholder.min.js' type='text/javascript'></script> 
	<script src='/static/js/jquery.jticker.js' type='text/javascript'></script> 
	<script src='/static/js/jquery.mobilemenu.js' type='text/javascript'></script> 
	<script src='/static/js/jquery.isotope.min.js' type='text/javascript'></script> 
	<script src='/static/js/jquery.hoverdir.js' type='text/javascript'></script> 
	<script src='/static/js/modernizr.custom.js' type='text/javascript'></script> 
	<script src="/static/js/absolute.js" type='text/javascript'></script>
	<script src="/static/js/nav.js" type='text/javascript'></script>
	<script src="/static/js/blog.js" type="text/javascript"></script>

</body>
</html>