figure iframe {
	width:100% !important;
	height:auto !important;
}

.figure-overlay a div {
	top:0px;
	left:-100%;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.figure-overlay a:hover div { left:0px; }
.figure-hover:hover .figure-hover-masked { display:block; }

.headlines .text-rotator div { display:none; }
.headlines .text-rotator, .headlines .text-rotator div:first-child { display:block; }

.post figure, .single figure.embed-section, .page figure.embed-section { background-color:#000; }

.flexslider .slides > li:first-child { display:block; }
